html{
    padding: 0;
    margin: 0;
    background-color: rgb(255, 255, 255);
    border-top: 3px solid #ff0000;
    box-sizing: border-box;
}

.image1, a{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 100%;
    height: auto;
    color: #333;
    text-decoration:none;
    color: #333;
}

.aboutme-m, .image-m{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #333;
    margin-top: 50px;
}

.image-m {
    border-radius: 80px;
    border: 3px solid black;
}

.hej-blue{
    color: #133956;
}

.social-icon {
    font-size: 60px;
    color: #aaaa;
    transition: color 0.2s;
    text-decoration: none;
    margin: 9px;
}

.social-icon:hover {
    color: #333;
}

.footer {
    text-align: center;
    overflow: hidden;
    background-color: #333;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid #ff0000;
}